/*なぜかmargin:8pxが上下左右についていた・・・*/
.page-top {
    margin: 0px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;/*なぜこっちがabsoluteなのかは分からない*/
}

.content-width {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/*他でも利用*/
.contents-tidy {
    align-items: center;/*これどこの記載か*/
    display: flex;
    justify-content: space-between;
}

.hover-opacity :hover { 
    opacity: 0.7;/*全部０.７でいいか最後chk*/
    transition: opacity 0.2s;
}

a {
    color: #222;
    text-decoration: none;
}

.site-header-inner > :last-child {
    display: inline-flex;
}
/*:last-childの前の*取ったけどよかったのか そしてlast-childは=header-nav？*/

.header-nav-list {
    align-items: center;
}

ul,ol {
    list-style: none;
}


/*記載なかったけど。。。*/
.header-logo img {
    width: 185px;
    height: 20px;
}

.header-button {
    width: 150px;
}

.link-button .menu {
    height: 40px;
    font-size: 12px;
} 

.link-button {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f79314;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    text-decoration: none;
    border: none;
}

.link-button.menu {
    height: 40px;
    font-size: 12px;
}

.header-nav-item {
    display: block;
}


/*
*:before, *:after {
    word-break: break-all;
    box-sizing: border-box;
}
*/

.header-nav-item span {
    display: block;
    font-weight: bold;
    text-align: center;
}

.header-nav-item > span:last-child {
    font-size: 10px;
}

.header-nav-list > li  {
    margin-left: 30px;
}

.header-nav-list > li + last-child {
    margin-left: 20px;
}


/*ここからメイン*/

.section-top-hero {
    padding-top: 190px;
    padding-bottom: 28px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero.png);
    background-size: auto 100%;
    background-position: right 0;
    background-repeat: no-repeat;
}
 
 .contents-width {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.top-hero-box {
    position: relative;
    max-width: 337px;
}

.top-hero-heading > img {
    width: 100%;
    height: auto;
    vertical-align: middle; /*これはimg全てに対しての指定っぽいけど・・・*/
    border: 0;    /*これも*/
}

.top-hero-text {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.7;
 
}

.top-hero-text > span {
    color: #f79314;
}


.link-button .no-subtitle {
   font-size: 16px; 
}

.No1-notation {
    margin: 0;
    position: absolute;
    top: 0;
    right: -170px;
}

.No1-notation img {
    width: 154px;
    height:154px;
}

.proviso {
    color: #888;
    font-size: 10px;
    max-width: 512px;
    padding-top: 132px;
}

.main-section.top-about {
    background-color: #f79314;
    padding-top: 45px;
}

.main-section { /*他でも利用*/
    padding-bottom: 80px;
    padding-top: 75px;
}

.banner-for-students {
    width: 100%;
    margin-bottom:50px;
}

.about-text {
    color: #fff;
    width: 53%;
}

.about-text h2 {
    font-size: 40px;
    letter-spacing: 1px;
}

 .about-text h2 > span {
     font-size: 50px;
     font-family: 'Lato', sans-serif;
     font-weight: 900;
 }
 
.about-text p {
    font-weight: 700;
    margin-top: 15px;
    line-height: 2.3;
}

.pc-dn {
    display: none;
}


.top-about {
    align-items: center;
}

.top-about-button {
    width: 320px;
}

.link-button.inversion {
    color: #f79314;
    background-color: #fff;
    margin-right: 10px;
}


/*ここからmovie*/

/*他でも利用*/
.section-header.contents-tidy {
    flex-direction: column;
    align-items: center;
}

/*他でも利用*/
.section-header {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/*他でも利用*/
.section-main-heading {
    font-size: 46px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-sub-heading {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

/*他でも利用*/
.bottom-line::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}

.section-header + .section-content {
    margin-top: 60px;
}

.section-movie-pc {
    text-align: center;
}


/*ここから 03 POTEPAN CAMPの特徴*/
/*01豊富な転職実績*/

.main-section {
    padding-top: 75px;
    padding-bottom: 80px;
}

.section-header h2 > span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.section-sub-heading > span {
    font-family: 'Lato', sans-serif;
}

.main-section .section-header + .section-content {
    margin-top: 60px;
}

.desc-list.list-number {
    margin-top: 110px;
}

.desc-list > li {
    background-color: #fcfaf5;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
}

.list-no {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    background-color: #fcfaf5;
    border-radius: 50%;
    color: #f79314;
    font-weight: bold;
    font-size: 40px;
}

.desc-list .list-title {
    font-weight: bold;
    font-size: 30px;
    margin-top: -20px;
    letter-spacing: 1px;
}

.desc-list .list-text {
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1.5px;
    font-weight: 500;
    line-height: 2;
}

.desc-list .example {
    background-color: #fff;
    width: 100%;
    margin-top: 40px;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
/*padding:30px削除 左右にこれ入れると右側にずれてしまう*/
}

.desc-list .example-title {
    display: inline-block;
}

.example-title-heading {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    vertical-align: bottom;
    line-height: 1;
    margin: 0;
}

.desc-list .example-title img {
    margin-left: 10px;
    width: 34px;
    height: auto;
}

.desc-list .example-title::after {
    content: '';
    display: block;
    border-bottom: solid 4px #f79314;
    margin-top: 10px;
}

.desc-list .example-contents {
    margin-top: 15px;
    padding: 0px; /*なぜか左側にpadding:40px;がついてしまうので０に*/
}

.example-contents.contents-tidy {
    flex-wrap: wrap;
}


.desc-list .example-contents > li {
    width: 25%;
    /*下記２つのpaddingがつけられない
    padding-left: 20px;
    padding-right: 20px;
    */
}

.desc-list .example-contents img {
    width: 100%;
    height: auto;
}

img {
    border: 0;
    vertical-align: middle;
}


/*02多くの受講受入実績*/

.desc-list > li + li {
    margin-top: 90px;
}

.desc-list > li {
    background-color: #fcfaf5;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
}

.desc-list .list-text span {
    color: #f79314;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 1;
}

.desc-list .example.performance {
    padding: 40px 70px;
}

.desc-list .example-list {
    margin: 0 -60px;
    padding: 0;
}

.desc-list .example-list > li {
    padding: 0 60px;
    width: calc(100% / 3);
    display: flex;
}

.desc-list .example-list img {
    width: 100%;
    height: -webkit-fill-available;
}


/*03現役エンジニアが講師*/
.engineer-list {
    margin-top: 45px;
    margin-left: -15px;
    margin-right: -15px;
}

.engineer-list .engineer-box {
    background-color: #fff;
    border-radius: 15px;
    margin: 0 15px;
    width: calc(100% / 3);
}

.engineer-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 20px;
}

.engineer-conpany-logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.engineer-conpany-logo > img {
    width: 100%;
}

.engineer-profile {
    display: flex;
    align-items: center;
    width: 100%;
}

.engineer-name.contents-tidy {
    flex-direction: column;
}

.engineer-name {
    text-align: left; /*検証ではstart*/
    margin-left: 15px;
    font-size: 20px;
}

.engineer-name > span {
    color: #f79314;
    font-size: 14px;
}

.engineer-text {
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: start;
}

.engineer-text::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 29px;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #f6f6f6;
}


/*0４POTEPAN CAMPの選べるコース*/
.main-section.top-potepan {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #f6f6f6;
}

/*.main-section.top-potepan > * {*/
.main-section.top-potepan  {
    position: relative;
    z-index: 1;
}

.top-potepan .content-width {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
    background-size: 281px 275px;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) top;
    padding-top: 35px;
}

.course-media {
    font-weight: bold;
    padding: 30px;
    background-color: #fff;
}

.course-media.open .course-title {
    border-image: linear-gradient(to right, #ff6d00 0%, #f79214 100%);
    border-image-slice: 1;
}

.course-title.contents-tidy {
    justify-content: center;
    align-items: center;
}

.course-title {
    width: 30%;
    margin-left: -50px;
    margin-right: 30px;
    border: solid 3px;
}

.course-title h3 {
    font-size: 24px;
    text-align: center;
}

.course-contents {
    width: calc(70% + 30px);
    position: relative;
}

.course-media.open .course-text {
    color: #f79314;
}

.course-text {
    font-size: 16px;
    line-height: 1;
}

.course-contents > div {
    margin-top: 20px;
}

.course-contents > div p {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(90deg, #212121, #444);
    padding: 2px 20px;
    border-radius: 20px;
}

.conditions-list {
    margin-top: 7px;
    padding-bottom: 20px;
}

.list-marker {
    /*margin-left: 1.9em;*/
    text-indent: -1.9em;
}

.list-marker::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #f79214;
    margin: 0 10px;
}

.course-link {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 12px;
    color: #999;
}

.course-list > li + li {
    margin-top: 40px;
}

.course-media.career .course-title {
    border-image: linear-gradient(to right, #f79214 0%, #f74e06 100%);
    border-image-slice: 1;
}

.course-media.career .course-text {
    color: #f75307;
}

.section-button {
    margin-top: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/*05 サービスの想い*/
.main-section.top-service, .main-section.top-works {
    background-color: #fcfaf5;
}

.message-title {
    display: inline-block;
    font-size: 50px;
    color: #ff802c;
    background: -webkit-linear-gradient(
0deg
, #ff802c, #f79214);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
    margin: 0px 0px 0px 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.message-contents {
    margin-top: -20px;
    position: relative;
}

.message-text {
    background-color: #fff;
    padding: 40px 150px 40px 40px;
    margin-right: -100px;
}

.message-text p {
    line-height: 2;
    font-weight: 500;
}

.message-text p + p {
    margin-top: 40px;
}

.message-thumbnail {
    position: relative;
}

.message-thumbnail p {
    position: absolute;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 10px #808080;
}

.message-thumbnail p span {
    font-size: 24px;
}

img {
    border: 0;
    vertical-align: middle;
}



/*06 受講生の声*/
.main-section .section-header + .section-content {
    margin-top: 60px;
}

.interview-list {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0px; /*なぜか左側にpadding:40px;がついてしまうので０に*/
}

.interview-list > li {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% / 3);
}


.interview-media .interview-media-thumbnail {
    position: relative;
    padding-top: 100%;
}

.interview-media-thumbnail {
    overflow: hidden;
}

.interview-media .interview-media-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}



.pc-dn {
    display: none !important;
}

.interview-media .interview-thumbnail-titlebox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 20px 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
}


.interview-media .interview-thumbnail-titlebox .interview-thumbnail-title {
    font-size: 16px;
    font-weight: bold;
    color: #f79314;
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    padding-top: 4px;
    border-top: 1px solid #fff;
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle .name {
    font-size: 20px;
}


.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle > *:last-child {
    font-size: 12px;
    margin-left: 15px;
}

.interview-media .interview-media-text {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1.8;
}


@media(min-width: 767px) {
a:hover .hover-scale {
    transform: scale(1.1);
}
}

@media (min-width: 767px) {
.hover-scale {
    transition: transform 0.2s;
}
}

@media(min-width: 767px) {
a:hover .hover-text-color{
    color: #f79314;
}
}

@media(min-width: 767px) {
.hover-text-color {
    transition: 0.2s;
}
}


/*07採用担当の声*/
.CorporationInterview__pickup {
    position: absolute;
    width: 121px;
}

.CorporationInterview__thumbnail--pc {
    display: block;
}

.CorporationInterview__thumbnail {
    width: 100%;
}

.CorporationInterview__thumbnail--sp {
    display: none;
}

.service-list {
    margin-right: -20px;
    margin-left: -20px;
}

.service-list > li {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    width: calc(100% / 3);
}

.service-media-thumbnail.red {
    border-color: #fc6803;
}

.service-media-thumbnail.green {
    border-color: #08af77;
}

.service-media-thumbnail.black {
    border-color: #000;
}

.service-media-thumbnail {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: solid 2px;
    border-radius: 10px;
    padding: 0 20px;
    height: 190px;
    box-sizing: border-box;
}

.service-media-thumbnail img {
    width: 100%;
    height: auto;
}

.service-media-text {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
}

.service-list {
    padding: 0px; /*なぜか左側にpadding:40px;がついてしまうので０に*/
}